fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain
langchain-classic
langchain-community
langchain-ollama
langchain-openai
langchain-chroma
langchain-text-splitters
langgraph
chromadb
pypdf
